<div>
  <div>
    <%= link_to "â† Back to workouts", workouts_path %>
  </div>

  <div>
    <div>
      <h1><%= @workout.name %></h1>
      <div>
        <%= link_to "Edit", edit_workout_path(@workout) %>
        <%= button_to "Delete", workout_path(@workout), 
            method: :delete,
            form: { data: { turbo_confirm: "Are you sure you want to delete this workout?" } } %>
      </div>
    </div>

    <% if @workout.date %>
      <p><%= @workout.date.strftime("%B %d, %Y") %></p>
    <% end %>

    <% if @workout.description.present? %>
      <div>
        <%= @workout.description %>
      </div>
    <% end %>

    <% if @workout.workout_exercises.any? %>
      <div>
        <h2>Exercises</h2>
        <% @workout.workout_exercises.each do |workout_exercise| %>
          <div>
            <h3><%= workout_exercise.exercise.name %></h3>
            <ul>
              <% if workout_exercise.sets %>
                <li>Sets: <%= workout_exercise.sets %></li>
              <% end %>
              <% if workout_exercise.reps %>
                <li>Reps: <%= workout_exercise.reps %></li>
              <% end %>
              <% if workout_exercise.weight %>
                <li>Weight: <%= workout_exercise.weight %></li>
              <% end %>
            </ul>
            <% if workout_exercise.notes.present? %>
              <p><%= workout_exercise.notes %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div> 